/*========Typography======*/
p{
    color:#848282;
    font-size: 14px;
    margin-bottom: 5px;
}
p a,p em{
    color:#00b0f0;
    font-style:normal;
    text-decoration: none;
}
p a:hover{
    color:#00b0f0;
    text-decoration: underline;
}
html,body{
    min-height: 100%;
    position: relative;
    height:100%;
}


/*========Header========*/
.header .navbar{
    background:#383737;
    border-radius:0;
    padding:17px 0;
}
.navbar-form{
    padding:0;
    margin-left:10px;
    border:1px solid #fff;
}
.navbar-form .form-control{
    background:none;
    color:#ffffff;
    border:0;
    min-width:245px;
    line-height: 30px;
}
.navbar-form button{
    background: url(../image/sprite.png) no-repeat;
    height: 30px;
    width: 36px;
    background-position: -82px -31px;
    border: 0;
}
.navbar-form button:hover,.navbar-form button:focus,.navbar-form button:active:hover{
    background-color:transparent;
    outline:none;
}
.navbar-form button:before{
    content: "";
    display: inline-block;
    height: 16px;
    width: 2px;
    background: #fff;
    position: relative;
    left: -19px;
    top: 1px;
}

.navbar-nav a{
    color:#fff;
    font-weight:600;
    font-size:18px;
    position: relative;
    overflow: hidden;
}
.nav>li>a.feedback-btn{
    border:1px solid #00b0f0;
    color:#00b0f0;
    padding:8px 15px;
    margin-top: 7px;
    transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.8s;
    -webkit-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.8s;
    -moz-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.8s;
    -ms-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.8s;
}
.nav>li>a.feedback-btn:hover{
    background:#00b0f0;
    color:#fff;

}
 .nav>li>a:hover:before{
     opacity: 1 !important;
    -webkit-transform: translateY(0) !important;
    -moz-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    transform: translateY(0) !important;
}
.nav>li>a:focus, .nav>li>a:hover{
    background:none;
}
.nav>li>a:not(.feedback-btn):before{
    content:"";
    height:2px;
    width:calc(100% - 30px);
    position: absolute;
    opacity: 0;
    bottom:5px;
    left:15px;
    background:#ffffff;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.8s;
    -webkit-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.8s;
    -moz-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.8s;
    -ms-transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.8s;
}
.user-controls{
    margin-top: 10px;
    margin-left:10px;
}
.user-controls .user-profile,.user-controls .chat-btn{
    display:inline-block;
    position: relative;
}
.user-controls .user-profile .user-pic{
    display: inline-block;
    height:26px;
    width:26px;
    border-radius:50%;
    overflow: hidden;
    cursor: pointer;
}
.user-controls .user-profile .notification{
    position: absolute;
    height:18px;
    min-width:18px;
    border-radius:50%;
    line-height:18px;
    font-size:12px;
    font-weight:600;
    color:#ffffff;
    text-align: center;
    background:#00b0f0;
    top:-5px;
    right:-7px;
}
.user-controls .user-profile .user-pic img{
    display: block;
}
.user-controls .chat-btn{
    height:26px;
    width:30px;
    display: inline-block;
    background:url(../image/sprite.png) no-repeat;
    background-position:0px -65px;
    margin-left:10px;
}