@media screen and (max-width : 1199px){
    .navbar-form .form-control{
        width:190px;
        min-width: inherit;
    }
    .navbar-nav>li>a{
        font-size:16px;
    }
}

@media screen and (max-width : 1023px){
    .header{
        position: relative;
        z-index: 99;
    }
    .header .navbar{
        padding:0;
    }
    .content{
        padding:0 15px;
    }
    .inner-content{
        margin:15px auto;
    }
    .navbar-nav>li>a{
        font-size: 12px;
    }
    .navbar-toggle{
        display: block;
        float: left;
    }
    .navbar-toggle .icon-bar{
        background: #fff;
    }
    .navbar-nav{
        position: absolute;
        width:100%;
        top:100%;
        left:0;
        background:#383737;
        display: none;
    }
    .navbar-nav>li{
        float: none;
        text-align: left;
        padding-left: 25px;
    }
    .navbar{
        border:0;
    }
    .header .container{
        width:100%;
    }
    .navbar-brand{
        padding:10px;
    }
    .form-control{
        padding:0 12px;
    }
    .nav>li>a{
        display:inline-block;
    }
    .user-controls{
        margin-top: 14px;
    }
    .hire-reason-list li{
        width:235px;
    }
    .reason-option .radio-btn span{
        font-size: 10px;
    }
    .inner-content h4{
        font-size: 14px;
    }
    .form-items .form-inputs{
        clear:left;
    }
    .option-wrapper.reason-option{
        overflow: hidden;
    }
    .option-wrapper.reason-option .radio-btn{
        float: left;
    }
    .skills-rating-list .skill-label{
        width:228px;
        font-size: 13px;
    }
    .option-wrapper.reason-option .radio-btn{
        margin:0 5px 0 0;
    }
    .reason-option.reason-option .radio-btn span{
        min-width:92px;
    }
    .form-items .form-label{
        font-size: 16px;
    }
    .subscription-block{
        width:40%;
    }
    .coming-soon-wrapper .coming-soon-services{
        width:55%;
    }
}

@media screen and (max-width : 767px){
    .navbar-toggle{
        margin-left:5px;
        margin-right: 5px;
    }
    .form-body .input-row label{
        width:100%;
        margin-bottom: 15px;
    }
    .form-body .input-row label span{
        max-width:inherit;
    }
    .form-body .input-row .input-wrapper{
        width:100%;
    }
    .title-bar{
        display: none;
    }
    .user-controls{
        position: absolute;
        right:15px;
        top:0;
    }
    .navbar-nav{
        border-top:1px solid #5e5c5c;
        margin:0;
    }
    .navbar-nav>li{
        padding-left:15px;
        padding-right:15px;
    }
    .navbar-form{
        display: inline-block;
        width:100%;
        margin-right:0;
        margin-left:0;
        margin-bottom: 15px;
    }
    .navbar-form .form-group{
        display: inline-block;
        width:calc(100% - 40px);
        margin-bottom: 0;
        
    }
    .navbar-form .form-control{
        width:100%;
    }
    .navbar-brand{
        width:150px;
    }
    .navbar-brand img{
        max-width:100%;
        display: inline-block;
    }
    .navbar-brand {
        padding: 0px;
        line-height: 43px;
    }
    .inner-content h4 small{
        display: block;
        margin-top: 5px;
    }
    .form-items .form-label{
        font-size: 14px;
    }
    .form-items .form-label em.small-em{
        font-size: 12px;
        padding-left:0;
    }
    .hire-reason-list li{
        display: block;
        margin:0 auto;
        float: none;
    }
    .three-block-wrapper span{
        width:235px;
        margin:0 auto 10px;
        padding:0;
        float: none;
        display: block;
    }
    .form-items .form-inputs{
        padding-left: 0;
        margin-top: 10px;
    }
    .option-wrapper.reason-option{
        width:100%;
    }
    .option-wrapper.reason-option .radio-btn{
        margin-bottom: 5px;
    }
    .form-progress{
        width:55%;  
    }
    .form-items .radio-btn{
        margin-right: 10px;
    }
    .form-items .radio-btn span{
        width:130px;
    }
    .reason-option.reason-option .radio-btn span{
        width:auto;
    }
    .option-wrapper.reason-option .radio-btn span{
        min-width:90px;
        font-size: 11px;
    }
    .subscription-block,.coming-soon-wrapper .coming-soon-services{
        width:100%;
        margin-bottom: 20px;
    }
    .inner-content h4{
        width:calc(100% - 30px);
    }
    .feedback-respond {
        margin: 20px 0;
    }
}
@media screen and (min-width : 320px) and (max-width : 460px){
    .form-progress{
        width:100%;
        margin-left:0;
        top:-72px;
    }
    .controls-wrapper{
        float: none;
        padding-top: 26px;
    }
}