.htwsection-wrapper{
    padding:0;
}
.htwsection.fixed{
    position: fixed;
    top:0;
    left:0;
}
.htwsection{
    height:100vh;
    width:100%;
    overflow: hidden;
    position: relative;
}
.htwsection .section-header{
    padding:100px 0 0;
}
.htwsection #footer-section #scroll-wrapper{
   height:calc(100vh - 192px);
   height:-webkit-calc(100vh - 192px);
}
#footer-section #scroll-wrapper #owl-example{
    white-space: nowrap;
    height: 100%;
}
#footer-section #scroll-wrapper .slidewrap{
    width:100vw;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    text-align: center;
    height: 100%;
}

#footer-section #scroll-wrapper .slidewrap .slide-item{
    width:35%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
#footer-section #scroll-wrapper .slidewrap .slide-item{
    margin-left:20px;
}
.bottomslider {
    height: 100%;
    vertical-align: middle;
    /* padding: 50px 0 150px; */
        padding: 8vh 0 24vh;
}
#scroll-wrapper{
    background:url(../images/cloud.png) repeat-x left bottom;
}
.slide-item h3 {
    font-size: 45px;
    line-height: 1;
    padding-right: 75px;
    margin-bottom: 0;
    font-weight: normal;
    color: #22b9ec;
}
.slide-item p {
    color: #666666;
    font-weight: normal;
    line-height: 26px;
    padding-right: 36px;
    font-size: 18px;
}
#scroll-wrapper .owl-item:not(:last-child) .slidewrap{
    background: url(../images/slide-arrow.png) no-repeat 95% 30%;
}
.slidewrap .bottomslider img {
    width: 350px;
    height: auto;
    margin-right: 50px;
    display: inline-block;
}
#owl-example .owl-nav{
    display: none;
}
.owl-prev, .owl-next {
	font-size: 0;
	height: 48px;
	width: 48px;
	border-radius: 50%;
	display: inline-block; vertical-align: top; border: 2px solid #ff0000;
}
.owl-prev{ background: url(../images/arrow-prv2.png) no-repeat center center; margin: 0 5px;  }
.owl-next{ background: url(../images/arrow-nxt2.png) no-repeat center center; margin: 0 5px;  }

@media screen and (max-width : 1024px){
    .htwsection .section-header{
        padding-top: 50px;  
    }
    #owl-example .owl-nav{ display: block; width: 100%; text-align: center; bottom: 75px;position: absolute; }
#owl-example .owl-nav > div{ display: inline-block; }
#owl-example .owl-nav .pagination-wrap{ display: none; margin: 0 5px; line-height: 48px; }
.bottomslider{padding: 8vh 0 10vh;}
}
@media screen and (min-width : 768px) and (max-width : 1023px){
    .htwsection #footer-section #scroll-wrapper,.htwsection{
        height:auto;
    }
    #owl-example .owl-nav{
        bottom: 100px;
        position: absolute;
    }
}
@media screen and (max-width : 767px){
    .owl-carousel .owl-item .bottomslider img{
        display: none;
    }
    .htwsection .section-header{padding:50px 15px 0};
    #scroll-wrapper .slidewrap{
        width:100% !important;
        margin-bottom: 0;
    }
    #owl-example .owl-nav{ display: block; position: relative; text-align: center; width: 100%; bottom:30px; }
    .slide-item h3{ padding: 0; font-size: 30px; text-align: center; }
    .slide-item p{ padding: 0; text-align: center; }
    #footer-section #scroll-wrapper .slidewrap .slide-item{margin:0;width:auto;padding:0 15px;}
    .htwsection #footer-section #scroll-wrapper{
        height:auto;
    }
    .bottomslider{
        padding: 30px 15px 50px;
    }
    .htwsection{
        height:auto;
    }
}