*{
    box-sizing: border-box;
}
.wrapper{
    margin:0 auto;
    max-width: 1300px;
    width: 100%;
}

.wrapper > header{
    background: #333;
    text-align: right;
    padding: 25px 10px;
    overflow: hidden;
}

nav{
    float: right;
}

nav a{
    font-size: 18px;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
}

section header{
    font-size: 32px;
    font-weight: bold;
    color: #e6e6e6;
    background: #956865;
    padding: 10px;
}

p{
    margin: 20px 0;
    font-size: 18px;
}