
ul {
  list-style: none;
}
.login-form .form-group-default {
  border: medium none;
  border-radius: 3px;
  box-sizing: border-box;
  min-width: 195px;
  padding: 3px 7px 1px;
}
.login-form {
  margin: 9px 0 0;
}
.login-form-element {
  margin: 0 7px 0 0;
}
.login-form-element-signin .btn {
  font-size: 13px;
  padding: 11px 17px;
  text-transform: uppercase;
}
.login-form a {
  color: #030303;
  float: right;
  font-family: segoe ui;
  font-size: 13px;
  line-height: 12px;
  margin: 5px 0 0;
  text-align: left;
}
.register-container {
  margin: 60px 0 0;
}
.registration-box {
  background-color: #fafafc;
  box-shadow: 0 1px 3px #e1e1e1;
  float: left;
  margin: 50px 0 0;
  padding-bottom:15px;
}
.m-t-70 {
	margin-top: 70px
}
.d-flex .registration-box {
	margin: -60px 0 0;
}
.registration-pg {
	background-color: #fff;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}
.registration-header {
  background-color: #424242;
  color: #fff;
  margin: 0 0 17px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}
.registration-header h1, .registration-header h3 {
  color: #fff;
  margin: 0;
}
#form-register .checkbox {
  margin-left: -15px;
}
.form-action {
  margin-top: 20px;
  text-align: center;
}
.form-action button {
  display: inline-block;
  float: none;
  margin: auto;
  max-width: 100%;
  padding: 8px 17px;
  width: 241px;
}
.form-action button.full-width {
  width: 100%;
}
.btn-linkedin {
  background-color: #007ab6;
}
.btn-linkedin i {
  /*border-right: 1px solid #309dd3;
  font-size: 22px;  */
}
.img-table-cell {
  display: table-cell;
  height: 524px;
  margin: 60px 0 0;
  vertical-align: middle;
  width: 100%;
}
.img-table {
  display: table;
  height: 524px;
  width: 100%;
}
.form-action h1 {
  font-size: 19px;
  line-height: 34px;
  margin: 0;
}
footer .container {
	border-top: 1px solid #d2d2d2;
}
#form-register .checkbox {
  display: table;
}
#form-register input[type="radio"], #form-register input[type="checkbox"], #form-register .checkbox label {
  display: table-cell;
}
#form-register .checkbox input[type="checkbox"] {
  width: 15px;
}
.header span.bold, .header .hidden-lg-up span {
  float: right;
  font-family: montserrat;
  margin: 0 0 0 5px;
}
.header .container {
	height: 60px;
}
.lancelot-logo .d-flex {
  margin: -60px auto 0;
  max-width: 375px;
}
.profile-pic-option {
  cursor: pointer;
  float: right;
  position: absolute;
  right: 0;
  top: 14px;
}
.profile-pic-option button {
  cursor: pointer;
}
.navbar {
  float: right;
}
.navbar ul {
  margin: 0;
  padding: 0;
}
.navbar li {
  border-right: 1px solid #232424;
  float: left;
  padding: 0;
}
.navbar li:last-child {
  border-right: none;
}
.navbar li a {
  color: #232424;
  line-height: 14px;
  padding: 0 15px;
}
.navbar li.active a {
  color: #0876d6;
}

.sub-header {
  margin-top: 75px;
}
.sub-header h6 {
  font-weight: 600;
}
.progress-lg {
  border-radius: 3px;
  height: 9px;
}
.sub-header h1 {
  line-height: 34px;
  margin: 0;
}
.main-content {
  background-color: #fff;
  border: 1px solid #ececec;
  padding: 0;
}
.main-content form > .row {
  padding: 15px;
}
.profile-pic-upload {
  background-color: #e3f2fd;
  padding: 10px;
}
.profile-pic-lg {
  border: 1px solid #95c0e0;
  border-radius: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.55);
  height: 122px;
  overflow: hidden;
  width: 128px;
}
.profile-pic-owner-content {
  margin: 0 0 0 15px;
}
.profile-pic-owner-content h1 {
  font-size: 20px;
  line-height: 22px;
  margin: 3px 0 0;
  text-transform: none;
}
.profile-pic-owner-content h6 {
  font-size: 14px;
  font-weight: 400;
  margin: 2px 0 18px;
}
.upload-profile-pic .btn-info {
  padding: 6px 57px;
}
.upload-profile-content textarea, .reputation-content-feedback textarea {
  min-height: 90px;
}
.form-footer {
  border-top: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  padding: 15px 15px 0;
}
.success-msg {
  color: #00bc97;
  font-weight: 500;
  margin: 5px 0 0 5px;
}
.success-msg i {
  margin: 0 5px 0 0;
}
.setting-switch {
  margin: 15px 0 0;
}
.text-info-black {
  color: #333;
}
.drag-profile-pic {
  background-color: #fafafa;
  border: 1px dashed #d2d2d2;
  padding: 40px;
  text-align: center;
}
.drag-profile-pic h4 {
  margin: 20px;
}
.upload-profile-content .input-group.transparent .input-group-addon {
  background-color: #ededed;
}

.profile-pic-sm {
  border: 1px solid #95c0e0;
  border-radius: 100%;
  height: 42px;
  overflow: hidden;
  width: 44px;
}
.my-reputation h6 {
  font-weight: 500;
}
.my-reputation .profile-pic-owner-content h6 {
  margin: 2px 0 0;
}

.profile-pic-sm > img {
  height: auto;
  max-width: 100%;
}
.profile-pic-owner-rating h6 {
  margin: 0;
}
.social-media ul, .social-media li, .social-media li a {
  float: left;
}
.social-media li {
  margin: 0 0 0 7px;
  padding: 0;
}
.social-media li i {
  background-color: #0064bc;
  border-radius: 100%;
  color: #fff;
  font-size: 10px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  width: 18px;
  float: left;
}
.my-repo p {
	line-height: 12px;
}
.repo-range-content h6 {
  float: left;
  font-family: montserrat;
  font-weight: 500;
  margin: 24px 0 20px;
}
.repo-range-yes h4 {
  font-size: 14px;
  font-weight: 500;
  margin: 8px 0 0;
}
.repo-range-content-yes h6 {
  float: left;
  font-family: montserrat;
  font-weight: 500;
  margin: 15px 0 20px;
}
.repo-filter-content h5 {
  float: left;
  font-family: montserrat;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
}
.divider {
  border-top: 1px solid #d2d2d2;
  float: left;
  width: 100%;
}
.repo-range-content-yes h6 small {
  font-size: 11px;
}
.filter-cont-left h6 {
  font-family: montserrat;
  font-size: 13px;
  margin: 51px 0 0;
}
.repo-filter-content {
  background: #f5f5f5 none repeat scroll 0 0;
  border: 1px solid #e5e5e5;
}
.filter-cont-left {
  border-right: 1px solid #d2d2d2;
  margin: 0 0 10px;
}
.filter-cont-left + .filter-cont-left + .filter-cont-left + .filter-cont-left {
  border-right: medium none;
}
.reputation-content {
  background-color: #fafafa;
}
.multiple-range-repo h4 {
  margin: 15px 0 0;
}

.col-sm-12.m-b-20.performance-feedback p {
  font-size: 17px;
}
.performance-feedback p i {
  color: #0876d6;
  display: table-cell;
  padding: 2px 8px 0 0;
  vertical-align: top;
}
.performance-feedback p {
  display: table;
  width: 100%;
}
.performance-feedback p span.m-l-5 {
  display: table-cell;
  vertical-align: top;
}
.performance-feedback p {
  display: table;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 40px;
  width: 100%;
}
.feedback-result h4 {
  font-weight: 500;
}
.feedback-result {
  background-color: #fafafa;
}
.perf-feed-table h6 {
  margin: 0;
}
.perf-text {
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  display: block;
  margin: 0 0 10px;
  max-width: 100%;
  padding: 6px 5px;
  text-align: center;
}
.danger-text {
  background-color: #ea2c54;
  border-color: #ea2c54;
  color: #fff;
}
.warning-text {
  background-color: #f5c136;
  border-color: #f5c136;
  color: #fff;
}
.completed-text {
  background-color: #22c2a2;
  border-color: #22c2a2;
  color: #fff;
}
.perf-feed-table table {
  margin: 0;
}
.perf-feed-table h6 {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}
.feedback-slides {
  margin-top: 60px;
}
.feedback-slides {
  margin-top: 20px;
  overflow: hidden;
  padding: 0 15px;
}
.feedback-slideshow-header {
  background-color: #e9eff4;
  height: 50px;
  padding: 10px 0;
  position: relative;
  text-align: center;
  z-index: 10;
}
.feedback-slides .table tbody tr td {
  padding: 6px 10px;
}
.feedback-slides .table tbody tr td button {
  margin: 0;
}
.feedback-slideshow-fix-height {
  height: 580px;
  overflow: hidden;
}
.feedback-slideshow-content {
  height: 580px;
  overflow-x: auto;
}
.center-align-button {
  margin: 70px auto;
  text-align: center;
  width: 500px;
}
.btn-big {
  font-size: 20px;
  padding: 26px 27px;
}
.red-text {
  color: #ff0000;
}


.tag-content h6 {
  border-top: 1px solid #eeeeee;
  font-family: montserrat;
  font-size: 10px;
  padding: 5px 5px 0;
}
.tag-content h6 + h6 {
  border-left: 1px solid #eee;
  height: 31px;
}
.feedback-slide-4 h1 {
  line-height: 44px;
  margin: 0;
}
.feedback-slide-5 h1, .feedback-slide-6 h1, .feedback-slide-7 h1, .feedback-slide-8 h1, .feedback-slide-9 h1 {
  font-size: 17px;
  line-height: 34px;
  margin: 0;
}
.input-tags-feedback .form-group {
  padding: 0;
}
.feedback-slide-4 .repo-range-content h6, .feedback-slide-5 .repo-range-content h6, .feedback-slide-6 .repo-range-content h6,
.feedback-slide-7 .repo-range-content h6, .feedback-slide-8 .repo-range-content h6 {
  font-size: 20px;
  margin: 10px 0 0;
}
.tag-content:hover {
  background-color: #f6f9fa;
  border-color: rgba(122, 137, 148, 0.27) !important;
  color: #212528;
}
.tagContentHighlight, .rating-feedback-content:hover, .tag-content:hover {
  background-color: #2196F3;
  border-color: #2196F3 !important;
  color: #fff;
}
.tag-content.tagContentHighlight h5, .tag-content:hover h5 {
  color: #fff;
}
.rating-feedback-content {
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  display: table;
  height: 90px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.blue-rating, .rating-feedback-content.blue-rating:hover {
  background-color: #007be8;
  border-color: #007be8;
  color: #fff;
}
 
.blue-rating h5, .rating-feedback-content:hover h5 {
	color: #fff;
}
.rating-feedback-content h5 {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.feedback-slideshow-content {
  background-color: #fff;
  position: absolute;
  top: 100%;
  transition: all 0.6s ease 0s;
  z-index: 0;
}
.currentSlide {
  top: 50px;
  z-index: 9;
}
.slideUpFeedback {
  top: -100%;
}
.slideDownFeedback {
  top: 100% !important;
}
.currentSlide.slideUpFeedback {
  top: 50px !important;
}

/* slideshow 4 **/
.tag-content input {
  float: left;
  height: 100%;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.tag-content div {
  float: left;
  font-size: 10px;
  height: 26px;
  padding: 5px 0 0;
  vertical-align: top;
}
.tag-content {
  border: 1px solid #007be8;
  border-radius: 10px;
  cursor: pointer;
  height: 90px;
  margin: 0 10px 10px 0;
  max-width: 194px;
  padding: 0;
}
.tag-content div.col-sm-6 + div {
  border-left: 1px solid #eeeeee;
}
.tag-content h5 {
  border-bottom: 1px solid #eeeeee;
  color: #007be8;
  font-size: 16px;
  height: 62px;
  line-height: 20px;
  margin: 0;
  padding: 10px 28px;
}
.feedback-slide-4 .hire-again h6 {
  font-size: 13px;
  font-weight: bold;
}
.inputRatingfeedback {
  float: left;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
}
.inputRatingfeedback:checked + h5 {
  background-color: #2196F3;
  color: #fff;
}

.success-submitted {
  background-color: #4CAF50;
  background-image: none;
  
  border-radius: 3px;
  
  color: #fff;
  cursor: pointer;
  font-family: Arial,sans-serif;
  font-feature-settings: "kern";
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.01em;
  line-height: 21px;
  margin-bottom: 0;
  padding: 10px 17px;
  position: relative;
  text-align: center;
  text-shadow: none;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s;
  vertical-align: middle;
}


.feedback-slide-2 {
	
}


.slide9-left > ul {
  padding: 0;
}
.slide9-content h4.coming-soon-lc {
  background: #007be8 none repeat scroll 0 0;
  color: #fff;
  font-family: montserrat;
  font-weight: 500;
  line-height: 40px;
  margin: 20px 0;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
}
.slide9-left li {
  display: table;
  font-size: 17px;
  font-weight: normal;
  margin: 5px 0 10px;
  width: 100%;
}
.slide9-left li i {
  display: table-cell;
  padding: 0 10px 0 0;
}
.slide9-left li span {
  display: table-cell;
}

.slide9-right {
  border: 1px dashed #d2d2d2;
  padding: 8px;
  text-align: center;
}
.slide9-right h3 {
  font-family: montserrat;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
#datepicker-range input {
  text-align: left;
}
.grey-box {
	background-color: #fafafa;
	padding: 10px;
}
.grey-box h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 12px;
  text-transform: uppercase;
}
.tags {
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  float: left;
  margin: 0 4px 4px 0;
  padding: 5px 13px;
}
.tags i {
  position: relative;
  top: 2px;
}
.collapse {
    display: none
}
.card-group .card-header {
  background-color: #fafafa;
  border: 1px solid #eeeeee;
  font-family: montserrat;
  padding: 8px 8px 0 14px;
}
.card-header a:not(.btn) {
  padding-right: 20px;
}
textarea {
  min-height: 90px;
}
.contact-us-content h4 {
  font-weight: 500;
}
.contact-us-content h6 {
  font-weight: 500;
}
.availability-content h4 {
	font-size: 16px;
}

.home-sign-in {
  margin: 7px 0 0;
}
.banner {
	margin: 60px 0 0;
}
.banner h1 {
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  text-transform: none;
}
.home-hdr {
  color: #0db2f8;
  font-family: montserrat;
  margin: 50px 0;
  position: relative;
}
.home-hdr::before {
  background-color: #4e4e5d;
  bottom: 0;
  content: " ";
  height: 3px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  width: 60px;
}
.home-content h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
}
.home-content {
  margin: 0 0 30px;
}
.icon-widget-2 {
  background: url(../img/icon-widget-2.png) no-repeat 0 0;
  display: inline-block;
  width: 64px;
  height
}
.fs-input {
  background: none;
  border: medium none;
  float: left;
  font-size: 13.5px;
  height: 20px;
  width: 100%;
}
.btnBlue i {
  display: none;
}
.fsInputActive {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
  height: 30px;
  padding: 0 5px;
}
.feedback-slide-1 h1 {
  line-height: 40px;
  margin: 0;
}
.feedback-slide-1 h3 {
  margin: 4px 0;
}
.table-feedbac-fix-height {
  height: 373px;
}
.feedback-slideshow-detail {
  float: left;
  height: 491px;
  overflow-x: auto;
  width: 100%;
}
.form-slideshow-actions {
  border-top: 1px solid #eee;
  bottom: 10px;
  padding: 0 20px 0 0;
  position: absolute;
  right: 0;
  text-align: right;
  width: 100%;
}

.view-all h5, .view-all h6 {
  line-height: 17px;
  margin: 5px 0 3px;
}
.view-all h6 {
  font-weight: 500;
}
.sel-no-border .form-group-default {
  border: medium none;
}



@media (max-width: 1199px) and (min-width: 768px) {
form .row .perf-feed-form > div:first-child, .perf-feed-form .first-child-form {
  padding-left: 7px !important;
}
.last-child-form-row {
  padding-right: 7px !important;
}
}
@media (max-width: 1199px) {

.header .search-link {
  margin: 22px 0 0 15px;
}
.navbar li a {
  padding: 0 10px;
}
.hidden-md {
  display: none;
}
.header span.bold {
  margin: 0;
}
.filter-second-child {
  border-right: none !important;
}
}
@media (max-width: 1024px) {
.navbar li a {
  padding: 0 6px;
}
.home-sign-in {
  display: none;
}
.banner h1 {
  font-size: 1rem;
  line-height: 20px;
}
}
@media (max-width: 991px) {
.profile-pic-option {
  right: 40px;
}
.reputation-content {
  padding-top: 10px;
}
.profile-pic-owner-rating > .col-lg-6 {
  margin: 0 0 10px;
  text-align: right;
}
.login-form {
  background-color: #eeeeee;
  box-shadow: 2px 1px 2px #d2d2d2;
  max-width: 260px;
  padding: 15px;
  position: absolute;
  right: -2%;
  top: 51px;
  height: 0;
  transition: all 0.3s ease 0s;
}
.login-form.collapse.show {
  height: auto;	
}
.login-form-element, .login-form-element-signin, .login-form-element-signin .btn, .login-form a {
  width: 100%;
}
.login-form a {
  text-align: center;
}
.header .pg {
  float: right;
  font-size: 16px;
  position: absolute;
  right: 20px;
}
.header .pg.pg-alt_menu {
  top: 22px;
}
.navbar {
  display: block !important;
  background-color: #fff;
  box-shadow: 2px 1px 2px #d2d2d2;
  max-width: 260px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: -400px;
  top: 60px;
  transition: all 0.3s ease 0s;
}
.navbar.collapse.show {
  right: -2%;
}
.navbar ul, .navbar li, .navbar li a {
  float: left;
  width: 100%;
}
.navbar li a {
  font-size: 15px;
  padding: 13px 10px;
}
.navbar li {
  border-right: none;
  border-bottom: 1px solid #d2d2d2;
}
.lancelot-logo .d-flex, .d-flex .registration-box {
	margin-top: 0;
}
.row.availability-content {
  margin: 0;
}

}

@media (max-width: 767px) {
.sub-header p {
  text-align: center;
}
.lancelot-logo .m-t-70 {
  margin: 0;
}
.o-hid {
	overflow: hidden;
}
.feedback-slide-1 h3, .feedback-slide-2 h3 {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px;
}
.feedback-slideshow-content h1 {
  font-size: 18px;
  line-height: 30px;
  margin: 10px 0 0;
}
.rating-feedback {
  margin: 10px 0;
}
.feedback-slide-5 .tags-feedback, .feedback-slide-6 .tags-feedback {
  /*border-bottom: 1px solid #d2d2d2;*/
  display: inline;
  float: left;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.slide9-content h4.coming-soon-lc {
  font-size: 14px;
}
.tag-content div.col-sm-6 {
  width: 50%;
}
.center-align-button {
  width: 100%;
}
.banner {
  margin: 48px 0 0;
}
.home-content {
  text-align: center;
}
.feedback-result .p-r-7.reputation-content {
  padding-left: 0;
  padding-right: 0;
}
.reputation-content {
  padding-bottom: 10px;
  padding-top: 10px;
}
.filter-cont-left h6 {
  font-weight: 500;
  margin: 20px 0 0;
  text-align: left !important;
}
.filter-cont-left {
  border-bottom: 1px solid #d2d2d2;
  border-right: medium none;
  padding: 0;
}
.repo-range-slider-yes {
  border-bottom: 1px solid #d2d2d2;
  padding: 0 15px 20px;
}
.img-table-cell, .img-table {
  height: auto;
}
footer p {
	text-align: center;
}
.login-form {
	top: 45px;
}
.navbar {
	top: 55px;
}
.register-container.full-height, .register-container.full-height .full-height {
  height: auto !important;
}
.lancelot-logo .d-flex {
  margin-bottom: 50px;
}
.sub-header h6 {
  text-align: left;
}
.upload-profile-content .input-group {
  margin: 0 0 10px;
  padding: 0;
}
.settings-content label {
  padding: 0;
}
.settings-content button.m-l-10, .settings-content span.m-l-10 {
  margin-left: 2%;
  width: 46%;
}
}

@media (max-width: 575px) {
.carousel-item.active > img {
  height: 300px;
  object-fit: cover;
}
.carousel-caption.d-none {
  display: block !important;
}
.tags-feedback {
  float: none;
  margin: auto;
  width: 194px;
}
.btn-big {
  font-size: 16px;
  padding: 18px 27px;
}
.center-align-button {
  float: left;
  margin: 40px 0;
  width: 100%;
}
.btn-big {
  float: left;
  font-size: 14px;
  padding: 18px 0;
  width: 100%;
}
.settings-content button.m-l-10, .settings-content span.m-l-10 {
  margin: 10px 0;
  width: 100%;
}
.setting-switch {
  margin: 0;
  position: absolute;
  right: 0;
  top: 13px;
  width: 50px;
}
.profile-pic-sm {
  margin: 0 36% 20px;
  width: 28%;
  height: 122px;
}
.profile-pic-owner-content {
  margin: 0;
  text-align: center;
  width: 100%;
}
.profile-pic-owner-rating > .col-lg-6 {
  margin: 20px 0 10px;
  text-align: center;
}
.social-media ul {
  float: none;
  margin: auto;
  padding: 0;
  text-align: center;
  width: 102px;
}
.social-media {
  text-align: center;
  margin: 0 0 10px;
  width: 100%;
}

}

@media (max-width: 480px) {

.profile-pic-lg, .profile-pic-sm {
  margin: 0 35% 20px;
  width: 30%;
  height: 122px;
}
.sub-header button {
  margin: 20px 0;
  width: 100%;
}
.sub-header h1 {
  text-align: center;
}
}

@media (max-width: 411px) {
.form-footer button, .form-footer > .pull-right, .form-footer > div {
  width: 100%;
}
.header .brand {
  width: 60%;
}
.header .brand img {
  max-width: 100%;
  height: auto;
}
.profile-pic-lg, .profile-pic-sm {
  margin: 0 30% 20px;
  width: 40%;
}
}

@media (max-width: 375px) {
 .profile-pic-lg, .profile-pic-sm {
  margin: 0 27% 20px;
  width: 46%;
}
}