@media screen and (min-width : 1024px){
    
    .three-block {
        flex:1;
    }
}
@media screen and (max-width : 1023px){
    .usercard{
        width:100%;
    }
    .attribute-list li.legend{
        width:auto;
    }
    .block-question{
        min-height: 38px;
    }
    canvas{
        display: block;
        margin:0 auto;
    }
    .content{
        padding:25px 0;
    }
}
@media screen and (max-width : 767px){
    .three-block {
        display: block;
        flex:none;
    }
    .content{
        -webkit-transition: transform linear 0.4s;
        -moz-transition: transform linear 0.4s;
        -ms-transition: transform linear 0.4s;
        transition: transform linear 0.4s;
        width: -webkit-calc(100% - 70px);
        width: calc(100% - 70px);
        -webkit-transform: translateX(155px);
        -moz-transform: translateX(155px);
        -ms-transform: translateX(155px);
        -o-transform: translateX(155px);
        transform: translateX(155px);
    }
    .close-menu.content{
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    article header h2{
        max-width:100%;
        font-size: 16px;
    }
    article header .right-content{
        text-align: right;
    }
    article header .right-content h3{
        float: none;
        font-size: 16px;
    }
    article header{
        margin-bottom: 12px;
    }
    .feedback-block{
        margin:0;
        max-width: 100%;
    }
    .article-body > .row:not(:last-child):after{
        margin:12px 15px;
    }
    .arrow-block-blue:before, .arrow-block-grey:before{
        display: none;
    }
    .response-text, .progress.hire-again{
        width:100%;
    }
    .response-text{
        margin-bottom: 0;
    }
    .block-question {
        min-height: 0;
        font-size: 16px;
    }
    .attribute-list li .chart-label{
        width:92px;
        min-width:inherit;
        line-height: 1.1;
    }
    .attribute-list li.legend span{
        margin:0 5px;
    }
    .top-phrased .phrase-list li{
        font-size: 14px;
    }
    .testimonials li{
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .testimonials{
        margin-bottom: 10px;
    }
    .short-summary .overall-rating-block{
        font-size: 20px;
    }
    .short-summary .overall-rating-block+p{
        font-size: 16px;
    }
    .scroll-to-top{
        height:30px;
        width:30px;
        background-size:50%;
        right:10px;
    }
}